{% extends "principal.html" %}

{% load static %}

{% block contenido %}

    
    <h4 class="text-warning bg-dark"> Listado de Pacientes </h4>
    <table  class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombres</th>
            <th scope="col">N° Documento</th>
            <th scope="col">Obra Social</th>
          </tr>
        </thead>
        <tbody>
            {% for n in entity %}
          <tr class="text-uppercase">
            <th scope="row">{{n.id}} </th>
            <td>{{n.apellido}} </td>
            <td>{{n.nombre}} </td>
            <td>{{n.dni}} </td>
            <td>{{n.obraSocial}} </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
      <div>
          {% include 'paginator.html' %}
      </div>


{% endblock %}